<!doctype html>
<html lang="en">

	<head>
		<title>Discussion Page</title>
	</head>

	<body>
		<h1>Discussion</h1>
		<div>
			<img src="" width="30" height="30">
			<form action="/comment/create" method="POST">
				<input type="text" placeholder="What are your thoughts?" name="comment_content">
				<button>Comment</button>
			</form>
		</div>
		<hr>
		<div>
			<ul style="list-style-type:none;">
				<% comments.forEach((comment) => { %>
					<li>
						<img src=<%= comment.commentor_avatar_url %> width="30" height="30">
						<p><%= comment.commentor %> - <%= comment.time_since %></p>
						<p><%= comment.content %></p>
						<span>
							<div class="upvote_button_container" data-comment-id=<%=comment.comment_id%>></div>
						</span>
					</li>
				<% }) %>
			</ul>
		</div>
	</body>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="upvote_button.js"></script>
</html>
